.section {
  padding-block: var(--space-8);
}

.inner {
  display: grid;
  gap: var(--space-6);
}

.title {
  align-self: start;
}

@media (min-width: 62rem) {
  .inner {
    grid-template-columns: 1fr 1.8fr;
    gap: var(--space-8);
  }
}
